POSTGRES_DB=smart_tourism_lbs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ganti_password_database_yang_panjang

FRONTEND_URL=https://domain-kamu.com
GEMINI_API_KEY=isi_api_key_gemini
GEMINI_MODEL=gemini-2.5-flash
JWT_SECRET=ganti_dengan_secret_random_panjang

ADMIN_EMAIL=admin@domain-kamu.com
ADMIN_PASSWORD=ganti_password_admin
